@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Prosto One', cursive;
}
.two-half-layout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column-one{
  background: rgb(12, 59, 46);
  color: white;
  width: 50%;
  padding:5%;
}
button{
  background-color: bisque;
}
.column-two{
  width: 50%;
  overflow: hidden;
}
.column-two figure img{
max-width: 100%;
  height: 100%;
}