*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    min-height: 10vh;
    background-color: #D6D4C7;
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    padding: 10px 0 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #BA7E6C;
    color: #BA7E6C;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #D6D4C7;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 50px;
    font-weight: Bold;
    color: #694135;
}
.container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    border: 2px solid #BA7E6C;
    background: #BA7E6C;
    color: #D6D4C7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
}
.container .contactInfo .box .text{
    display: inline-flex;
    margin-left: 30px;
    padding-left: 5px;
    font-size: 16px;
    color: #BA7E6C;
    flex-direction: column ;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#694135;
}
.contactForm{
    width: 60%;
    padding: 30px;
    background:#BA7E6C;    
}
.contactForm h2{
    font-size: 30px;
    color: #D6D4C7;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #D6D4C7;
    outline: none;
    resize: none;
}
.contactForm .inputBox input[type="Submit"]{
    width: 100px;
    background: #D6D4C7;
    color:#694135;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
 @media (max-width: 991px){
    .contact{
        padding:50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo, .contactForm{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;
    }
 }