*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    
}
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:  url(gh.JPG) no-repeat center;
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #BA7E6C;
    color: #BA7E6C;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}
nav .nav-list{
    list-style-type: none;
}
nav .nav-list li{
    display: inline-block;
}
nav .nav-list li a{
    display: inline-block;
    color: white;
    margin-right: 2.5rem;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list li.button a{
    display: inline-block;
    background: transparent;
    border: 2px solid #BA7E6C;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #BA7E6C;
    font-weight: 500;
}
nav .nav-list li.button:hover a{
    background: #BA7E6C;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}
.container{
    margin: 150px;
    margin-left: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40rem;
}
.container .hero-text{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.container .hero-text h1{
    color: azure;
    font-size: 40px;
    font-weight:700;
    line-height: 1.2;
    margin: 20px 0px 20px;
}
span{
    color: #B27E6C;
}
.container .hero-text h3{
    color: rgb(182, 139, 87);
    font-weight: 500;
    font-size: 27px;
}
.container .hero-text p{
    width: 440px;
    max-width: 100%;
    color: rgb(182, 139, 87);
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 30px;
}
@media(max-width:768px){
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 40px 0px;
    }
}